<ion-content class="bg" [fullscreen]="true" style="background-color: blue;">

  <div class="heatlog">
    <img src="../../assets/icon/Icono-Prot-3.png" class="img" />
    <h1 class="t1">Financiera Independiente</h1>
  </div>

  <!-- <ion-item class="icon" lines="none">
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="../../assets/icon/Icono-Prot-3.png" class="img" />
    </ion-thumbnail>
    <ion-label> Financiera Independiente </ion-label>
  </ion-item> -->

  <div class="bodylog">
    <h2 class="t2">Ingresar</h2>
    <p class="t3">Por favor ingresa tu usuario y contraseña</p> 
    <ion-input label="Usuario" label-placement="floating" fill="solid" placeholder="Ingresa tu usuario"></ion-input>
    <br />
    <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa tu contraseña"></ion-input>
    <br />
  </div>

  <div class="fooderlog">
    <ion-button expand="Ingresa">Ingresa</ion-button>
    <br />
    <br />
    <small>¿Se te olvido tu contraseña?</small>
  </div>
  
</ion-content>