<ion-header [translucent]="true">
 <div class="noti">
   <ion-toolbar>
     <ion-title><h1 class="t1">Bienvenido</h1>  
    <p class="t2">Administrador</p> 
   </ion-title>
  </ion-toolbar>
 </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>





  


  <!-- <ion-title>Ultimos pagos</ion-title> -->
    <!-- <ion-label>Ultimos Pagos</ion-label>
    <ion-breadcrumbs>
      <ion-breadcrumb href="#people-outline">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        Asesores
      </ion-breadcrumb>
      <ion-breadcrumb href="#electronics">
        <ion-icon slot="start" name="flash"></ion-icon>
        Clientes
      </ion-breadcrumb>
      <ion-breadcrumb href="#cameras">
        <ion-icon slot="start" name="camera"></ion-icon>
        Inicio
      </ion-breadcrumb>
      <ion-breadcrumb href="#film">
        <ion-icon slot="start" name="film"></ion-icon>
        Prestamos
      </ion-breadcrumb>
      <ion-breadcrumb href="#film">
        <ion-icon slot="start" name="film"></ion-icon>
        Altas y Bajas
      </ion-breadcrumb>
    </ion-breadcrumbs> -->


<!-- <ion-label>Icons at Start</ion-label>
<ion-breadcrumbs>
  <ion-breadcrumb href="#home">
    <ion-icon slot="start" name="home"></ion-icon>
    Home
  </ion-breadcrumb>
  <ion-breadcrumb href="#electronics">
    <ion-icon slot="start" name="flash"></ion-icon>
    Electronics
  </ion-breadcrumb>
  <ion-breadcrumb href="#cameras">
    <ion-icon slot="start" name="camera"></ion-icon>
    Cameras
  </ion-breadcrumb>
  <ion-breadcrumb href="#film">
    <ion-icon slot="start" name="film"></ion-icon>
    Film
  </ion-breadcrumb>
</ion-breadcrumbs> -->
