<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">hijo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>jyts</strong>
    <p>jhym 
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">kfgyifyf</a>
    </p>
  </div>
</ion-content>
